:root {
  --color-primary: #141418;
  --color-secondary: #d5d5de;
  --color-border: #dbe2ec;
  --color-background: #ffffff;
  --color-dark: #141418;
  --color-light: #ffffff;
  --color-light: #f9f9f9;
  --color-light-grey: #d5d5de;
}
