#section-hero {
  width: 100%;
  height: 75svh;
  background-image: linear-gradient(
      0deg,
      rgb(245, 247, 248) 1px,
      transparent 1px
    ),
    linear-gradient(90deg, rgb(245, 247, 248) 1px, transparent 1px);
  background-size: 64px 64px;
}

#section-hero .content {
  height: 100%;
}

#section-hero .container {
  width: 100%;
  height: calc(100% - 2.5rem);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: 2.5rem;
}

#section-hero .container img#hero-image {
  display: none;
}

#section-hero .container h1 span#wave-text {
  font-size: 3rem;
  background: -webkit-linear-gradient(45deg, #4568dc, #b06ab3);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(45deg, #4568dc, #b06ab3);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 400;
}

#section-hero .container h1 span#wave-text span {
  font-weight: 400;
}

#hero-canvas {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}

/* NAME ANIMATION WAVE */

@keyframes wave {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0);
  }
}

#wave-text span {
  display: inline-block;
  animation: wave 1s ease-in-out 1;
}

/* MOBILE */

@media (max-width: 768px) {
  #canvas {
    display: none;
  }
  #section-hero .container img#hero-image {
    display: block;
    width: 100%;
  }
  #section-hero .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
}
